{%- liquid 
    assign variation_required = product.metafields.custom.variation.value
    assign products_all = product.metafields.custom.collection.value.products | sort: "title"
    assign products = product | sort
    assign titles = product.metafields.custom.short_name.value | sort
    for prod in products_all
        unless titles contains prod.metafields.custom.short_name.value
            if prod.metafields.custom.variation.value == variation_required
                assign prd = prod | sort
                assign title = prod.metafields.custom.variation.value | sort
                assign products = products | concat: prd
                assign titles = titles | concat: title
            endif
        endunless
    endfor
-%}

<div style="display: flex; flex-direction: row; overflow-x:scroll; max-width:44rem; padding-bottom: 1rem;">
    {% for prod in products %}
      <div {% if forloop.last == false %}style = "margin-right:1rem"{% endif %}>
        {% if prod.metafields.custom.thumbnail.value != blank %}
            {% if prod.id == product.id %}
              <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align:center;">
                <div style= "height: 9rem; width: 9rem; border: 1px solid rgb(var(--color-foreground));overflow:hidden;">
                    {{ prod.metafields.custom.thumbnail.value | image_url: width: 400, height: 400| image_tag: style: "height: 9rem; width: 9rem;" }}
                </div>
                <span style="line-height:1;margin-top:0.5rem;font-size:1.3rem;color:rgb(var(--color-foreground))">{{ prod.title | split: "]" | last }}</span>
              </div>
            {% else %}
                <a style = "display: flex; flex-direction: column; align-items: center; justify-content: center; text-align:center;" href={{prod.url}}>
                  <div style = "height: 9rem; width: 9rem;">
                      {{ prod.metafields.custom.thumbnail.value | image_url: width: 400, height: 400| image_tag: style: "height: 9rem; width: 9rem;" }}
                  </div>
                  <span style="line-height:1;margin-top:0.5rem;font-size:1.3rem;color:rgb(var(--color-foreground));">{{ prod.title | split: "]" | last }}</span>
                </a>
            {% endif %}
        {% endif %}
      </div>
    {% endfor %}
</div>


